[submodule "unikraft"]
	path = unikraft
	url = git@github.com:marzipan14/unikraft.git
[submodule "app-redis"]
	path = app-redis
	url = git@github.com:marzipan14/app-redis.git
[submodule "lib-redis"]
	path = lib-redis
	url = git@github.com:marzipan14/lib-redis.git
[submodule "lib-flexos-example"]
	path = lib-flexos-example
	url = git@github.com:marzipan14/lib-flexos-example.git
[submodule "app-flexos-example"]
	path = app-flexos-example
	url = git@github.com:marzipan14/app-flexos-example.git
